<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>365119976196-mn7slumkt5gsnkkocg49nf4h9ib64hmp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.365119976196-mn7slumkt5gsnkkocg49nf4h9ib64hmp</string>
	<key>API_KEY</key>
	<string>AIzaSyBgdX2FzVebMiGcEhDDjx0mIls23RDOKJg</string>
	<key>GCM_SENDER_ID</key>
	<string>365119976196</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.missouri.cs.InstaPlan</string>
	<key>PROJECT_ID</key>
	<string>instaplan-ba001</string>
	<key>STORAGE_BUCKET</key>
	<string>instaplan-ba001.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:365119976196:ios:f0a942102c1e9fdc</string>
	<key>DATABASE_URL</key>
	<string>https://instaplan-ba001.firebaseio.com</string>
</dict>
</plist>